/*  YOU DON'T NEED TO TOUCH THIS FILE */
@import url('https://fonts.googleapis.com/css?family=Dosis:wght@200&family=Roboto:wght@400&display=swap');

body {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  margin: 15px 30px;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  max-height: 3rem;
}

#name {
  color: red;
}

.purple {
  color: #750ff7;
}

button:focus {
  outline: none;
}

.first_banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction {
  display: flex;
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.disabled {
  opacity: 0.2;
}

.avatar2 {
  display: none;
  padding-bottom: 12px;
}

body .purple {
  background-color: #750ff7;
}



@media screen and (max-width: 700px) {
  .first_banner {
    padding-bottom: 2rem;
  }

  .introduction {
    display: none;
  }

  .contents {
    flex-direction: column;
    align-items: center;
  }

  .contents .box {
    width: 70%;
  }
}

@media screen and (min-width: 700px) {
  .skills {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .column {
    width: 100%;
  }
}